/*! Plugins */
// ==========================================================================

/* http://lab.veno.it/venobox/ */
/* ------ venobox.css --------*/
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after{
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{
    -webkit-overflow-scrolling:touch;
}
/* ------- overlay: change here background color and opacity ----- */
.vbox-overlay {
    //background-color: #FCFBF7;
    /*background-image:  url(../images/smooth-wall-dark.png); 
    background-repeat: repeat;
    background-color: @black;*/
    background-image: url(../images/pissarra-3-green.jpg);
    background-repeat: no-repeat;
    background-color: @blackboard;
    position: center center;
    background-size: auto;
    width: 100%;
    height: 110%; /* to avoid scrollbar hide/show */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.relativo {
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
/* ----- preloader - choose between CIRCLE, IOS, DOTS, QUADS ----- */

/* circle preloader */
.vbox-preloader {
    position: fixed; 
    left: 50%; 
    top: 50%; 
    margin-left:-25px; 
    margin-top:-25px;
    text-indent: -100px;
    overflow: hidden;
}

.vbox-preloader {
    width: 50px;
    height: 50px;
    background-color: #FCFBF7;
    //background-image:  url(../images/rice-paper-3.png);
    //background-repeat: repeat;
    border: 1px solid @black;
    margin: 0 auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/* ----- navigation ----- */
.vbox-close {
    cursor: pointer;
    position: fixed;
    top: 5px;
    left: 5px;
    /*width: 46px;
    height: 40px;
    padding: 10px 20px 10px 0;
    display: block;
    background: url(close.gif) no-repeat #161617;
    background-position:10px center;
    color: #fff;
    text-indent: -100px;
    overflow: hidden;*/
}
/* Styles the close link, adds the slide down transition */
.vbox-close {
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    box-sizing: border-box;
    background: @black;
    color: #333;
    text-decoration: none;
    position: fixed;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-indent: 100%;
}

/* Provides part of the "X" to eliminate an image from the close link */
.vbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    background: @white;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.vbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    background: @white;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.vbox-close:hover,
.vbox-close:focus {
    background: @white;
}

.vbox-close:hover::before,
.vbox-close:hover::after {
    background: @black;
}

/*.vbox-next, .vbox-prev{
    box-sizing: content-box;
    cursor: pointer;
    position: fixed;
    top: 50%;
    color: #fff;
    width: 30px;
    height: 170px;
    margin-top: -85px;
    text-indent: -100px;
    border: solid transparent;  Using border instead of padding to keep bg image in place 
    overflow: hidden;
}
.vbox-prev{
    left: 0;
    border-width: 0 30px 0 10px;
    background: url(prev.gif) center center no-repeat;
}
.vbox-next{
    right: 0;
    border-width: 0 10px 0 30px;
    background: url(next.gif) center center no-repeat;
}*/

.vbox-title{
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    padding: 6px 40px;
    overflow: hidden;
    background: transparent;
    position: fixed;
    display: none;
    top: -40px; /* hack to hide title */
    left: 0;
}
.vbox-num {
    cursor: pointer;
    position: fixed;
    top: -1px;
    left: 0;
    height: 40px;
    display: block;
    color: #fff;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 10px;
    background: #161617;
    display: none;
}
/* ------- inline window ------ */
.vbox-inline {
    max-width: 700px;
    height: auto;
    padding: 0;
    background: #FCFBF7;
    color: #333;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
}

/* ------- Video & iFrames window ------ */
.venoframe{
    border: none;
    width: 960px;
    height: 720px;
}
@media (max-width: 992px) {
    .venoframe{
        width: 640px;
        height: 480px;
    }
}
@media (max-width: 767px) {
    .venoframe{
        width: 420px;
        height: 315px;
    }
}
@media (max-width: 460px) {
    .vbox-inline{
        width: 100%;
    }

    .venoframe{
        width: 100%;
        height: 260px;
    }
}

/* ------- PLease do NOT edit this! (or do it at your own risk) ------ */
.vbox-container{
    position: relative;
    background: #000;
    width: 98%;
    max-width: 1024px;
    margin: 0 auto;
}
.vbox-content{
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.vbox-container img{
    max-width: 100%;
    height: auto;
}
.vwrap {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}


/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: rgba(34, 34, 33, 0.9);
	color: #dedede;
	padding: 5px 30px;
	font-size: 12px;
	line-height: 1.4em;
	text-align: center;
	display: none;
	z-index: 998;
    font-family: @font-family-monospace;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
	padding: 5px 7px;
}

.eupopup-closebutton svg {
    width: 22px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: #dedede;
}

.eupopup-head {
	font-weight: 700;
	padding: 7px;
	color: #fff;
}

.eupopup-body {
	color: #dedede;
    font-weight: 400;
}

.eupopup-buttons {
	padding: 14px 0 5px 0;
}

.eupopup-button_1 {
	color: #353434;
    background-color: #fcfbf7;
}

.eupopup-button_2 {
	color: #fcfbf7;
    background-color: transparent;
}

.eupopup-button {
	margin: 0 10px;
    font-weight: 700;
	font-size: 14px;
    line-height: 14px;
    padding: 3px 10px;
    text-decoration: none;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
	color: rgba(53, 52, 52, 0.75);
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}
