/*********************************************
  * Filename: style.css
  * Website: http://
  * Author: Sergi Duran
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 13/01/2023
  * Version: 1.0
*********************************************/
/* CONTENT
  ===========================================
    
  BASE STYLES
    Forms and Inputs
    Typography
    Links and Buttons
    Tables
  
  UTILITY CLASSES
    Grid Sistem
    Lists
      Animations

  LAYOUT
    Globla Header
    Navigation
    Fixed Navigation
    Advanced Dropdown Navigation
    Footer

  =========================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! Variables */
/* Font Weight */
/* Letter spacing */
/* Font size */
/*! Mixins */
@font-face {
  font-family: 'jenna_sue_proregular';
  src: url('../jenna_sue_pro-webfont.eot');
  src: url('../fonts/jenna_sue_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/jenna_sue_pro-webfont.woff2') format('woff2'), url('../fonts/jenna_sue_pro-webfont.woff') format('woff'), url('../fonts/jenna_sue_pro-webfont.svg#jenna_sue_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*! Main */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 16px;
}
p {
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'jenna_sue_proregular';
  color: #FCFBF7;
  /*overflow: auto;*/
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pissarra-3-green.jpg);
  background-repeat: no-repeat;
  background-color: #0b1e22;
  background-position: center center;
  background-size: cover;
  overflow-y: scroll;
  position: fixed;
}
body.loaded {
  position: absolute;
  overflow-y: auto;
}
h2,
h3,
h4 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}
a {
  color: #7f8fa9;
}
a:hover,
a:focus {
  text-decoration: none;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FCFBF7;
  background-image: url(../images/rice-paper-3.png);
  background-repeat: repeat;
  border: 15px solid #333;
  z-index: 999;
  /* makes sure it stays on top */
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.loaded #preloader {
  border: 0;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
header {
  /*position: fixed;*/
  top: 0;
  z-index: 1000;
  /*min-height: 460px;*/
  width: 100%;
  /*height: 100%;*/
  text-align: center;
}
header .logo {
  position: absolute;
  left: 1%;
  top: -2px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 2.2s;
  -moz-transition: opacity 0.4s ease-in-out 2.2s;
  -webkit-transition: opacity 0.4s ease-in-out 2.2s;
}
.loaded header .logo {
  opacity: 0.9;
}
header .logo img {
  width: 50px;
  height: 64px;
}
@media only screen and (min-width: 768px) {
  header .logo {
    left: 5%;
  }
  header .logo img {
    width: 74px;
    height: 94px;
  }
}
#vins-de-postal {
  position: absolute;
  /*ie6 and above*/
  display: block;
  width: 680px;
  height: 134px;
  left: 50%;
  top: 50%;
  margin: -72px 0 0 -340px;
  z-index: 9999;
}
#vdp-inline {
  /*position: fixed;*/
  position: absolute;
  /*ie6 and above*/
  display: block;
  width: 680px;
  height: 134px;
  left: 50%;
  top: 50%;
  margin: -72px 0 0 -340px;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: top center;
  z-index: 9999;
}
.loaded #vdp-inline {
  top: 40%;
  transform: scale(0.4);
  -moz-transform: scale(0.4);
  -webkit-transform: scale(0.4);
}
@media only screen and (min-width: 320px) {
  .loaded #vdp-inline {
    top: 25%;
    transform: scale(0.45);
    -moz-transform: scale(0.45);
    -webkit-transform: scale(0.45);
  }
}
@media only screen and (min-width: 480px) {
  .loaded #vdp-inline {
    top: 15%;
    transform: scale(0.65);
    -moz-transform: scale(0.65);
    -webkit-transform: scale(0.65);
  }
}
.svg-vdp {
  display: none;
}
.loaded .svg-vdp {
  /*width: 90%;
    max-height: 140px;*/
}
#vdp-inline svg path {
  fill: #333;
}
.loaded #vdp-inline svg path {
  fill: #FCFBF7;
}
#vdp-inline {
  /*display: none;*/
}
/*
.fallback {
    background-image: url(ibasiam-logo.png);
}*/
h1.slogan {
  font-weight: normal;
  margin: 0 auto;
  padding: 180px 0 0;
  font-size: 2.35em;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 1.7s;
  -moz-transition: opacity 0.4s ease-in-out 1.7s;
  -webkit-transition: opacity 0.4s ease-in-out 1.7s;
}
.loaded h1.slogan {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  h1.slogan {
    padding-top: 160px;
    font-size: 2.65em;
  }
}
.sk-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 0 260px 0;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  transform: scale(0.8) translateY(50%);
  -moz-transform: scale(0.8) translateY(50%);
  -webkit-transform: scale(0.8) translateY(50%);
}
.loaded .sk-main {
  transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}
.postcards {
  margin: 0 auto;
  padding-top: 0;
  min-height: 400px;
  max-width: 100%;
  width: 100%;
  border-radius: 0;
  background-size: 100%;
}
.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0.55em 4em;
  list-style: none;
  text-align: center;
  /*display: flex;
    flex-direction: row-reverse;*/
}
@media only screen and (min-width: 1024px) {
  .grid {
    max-width: 100%;
  }
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0.5em auto;
}
@media only screen and (min-width: 1024px) {
  .row {
    flex-direction: row;
  }
}
figure {
  display: inline-block;
  margin: 0 1% 20px;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.grid a:focus {
  outline: 0;
}
.grid .row1 a:first-child figure {
  transform: rotate(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row1 a:first-child figure {
  transform: rotate(3deg);
}
.grid .row1 a:nth-child(2) figure {
  transform: rotate(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row1 a:nth-child(2) figure {
  transform: rotate(1deg) translateX(0) translateY(-15px);
}
.grid .row2 a:first-child figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row2 a:first-child figure {
  transform: rotate(-1deg) translateX(0) translateY(-10px);
}
.grid .row2 a:nth-child(2) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row2 a:nth-child(2) figure {
  transform: rotate(-3deg) translateX(0) translateY(10px);
}
.grid .row2 a:nth-child(3) figure {
  transform: rotate(0) translateX(0);
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
.loaded .grid .row2 a:nth-child(3) figure {
  transform: rotate(1deg) translateX(10px);
}
.grid .row3 a:first-child figure {
  transform: rotate(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.loaded .grid .row3 a:first-child figure {
  transform: rotate(1deg);
}
.grid .row3 a:nth-child(2) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row3 a:nth-child(2) figure {
  transform: rotate(-1deg) translateX(0) translateY(10px);
}
.grid .row3 a:nth-child(3) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row3 a:nth-child(3) figure {
  transform: rotate(2deg) translateX(0) translateY(10px);
}
.grid .row4 a:first-child figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row4 a:first-child figure {
  transform: rotate(3deg) translateX(-5px) translateY(10px);
}
.grid .row4 a:nth-child(2) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row4 a:nth-child(2) figure {
  transform: rotate(1deg) translateX(0) translateY(7px);
}
.grid .row4 a:nth-child(3) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid .row4 a:nth-child(3) figure {
  transform: rotate(-1deg) translateX(0) translateY(-5px);
}
@media only screen and (min-width: 1024px) {
  /*.loaded .grid .row4 a:first-child figure {
        -webkit-transform: rotate(3deg) translateX(260px) translateY(10px);
        transform: rotate(3deg) translateX(260px) translateY(10px);
    }*/
}
figure img {
  display: block;
  border-radius: 0;
  margin: 0 auto;
  outline: none;
  width: 100%;
}
figure .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  font-size: 6em;
  background: rgba(158, 84, 6, 0.25);
  /*-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
figure .img-overlay:hover,
figure .img-overlay:focus {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
figure .img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}
.concept {
  max-width: 990px;
  margin: 0.5em auto 0;
  padding: 20px;
  font-size: 2em;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .concept {
    font-size: 2.5em;
  }
}
.button {
  text-align: center;
  margin-bottom: 2em;
}
.button a {
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  padding: 0.8em 1em 0.6em;
  background-color: #fcfbf7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.button a:hover,
.button a:focus {
  padding: 0.8em 1.3em 0.6em;
}
body.modal {
  /*background-color: #FCFBF7;
    background-image:  url(../images/rice-paper-3.png);
    background-repeat: repeat;
    background-size: auto;*/
}
.sk-modal {
  max-width: 700px;
  padding: 10px 50px 30px;
  margin: 0 auto;
  color: #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #fff;
}
.sk-modal h2 {
  font-size: 2.5em;
}
.sk-modal h3 {
  font-size: 2em;
}
.sk-modal h4 {
  font-size: 1.5em;
}
.sk-modal img {
  max-width: 100%;
  height: auto;
  margin: 3em auto;
}
.sk-modal a {
  color: #0b1e22;
}
.sk-modal img.bottle {
  display: block;
}
.sk-modal img.bg-card {
  display: block;
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.75);
}
.sk-modal .sk-modal-content {
  display: inline-block;
  width: 100%;
  text-align: justify;
  margin: 1em 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.sk-modal .sk-modal-content p {
  font-size: 1.1em;
}
.sk-modal .sk-modal-content dl {
  text-align: left;
  padding-bottom: 1em;
}
.sk-modal .sk-modal-content dl dt {
  font-weight: 700;
  margin: 2em 0 0.5em;
}
.sk-modal .sk-modal-content dl.onesven dd {
  margin: 1em 0 1em;
}
.sk-modal .sk-modal-content dl dd dl {
  font-size: 0.9em;
  margin-left: 1em;
}
.sk-modal .sk-modal-content dl dd dl dt {
  margin-top: 1em;
}
.sk-footer {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(51, 51, 51, 0.5);
  font-weight: 400;
  z-index: 7;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-family: 'Raleway', sans-serif;
}
.sk-footer.footer-up {
  bottom: 0;
}
.sk-footer h3 {
  margin: 0;
  padding: 0;
}
.sk-footer a {
  color: #fcfbf7;
}
.sk-footer a:hover,
.sk-footer a:focus {
  color: rgba(252, 251, 247, 0.5);
}
.sk-footer .grid-margin-footer {
  margin-top: 2%;
  margin-bottom: 2%;
}
.sk-footer .grid-margin-footer p {
  padding: 0;
  margin: 0;
}
.sk-footer .logos {
  margin: 1em 0 0.5em;
}
.sk-footer .logos li {
  display: inline;
  margin: 0 0.5em;
}
.sk-footer .logos li a {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
.sk-footer .logos li:first-child a {
  background-image: url(../images/do-emporda-logo.png);
}
.sk-footer .logos li:nth-child(2) a {
  background-image: url(../images/ruta-del-vi-logo.png);
}
.sk-footer .logos li:nth-child(3) a {
  background-image: url(../images/wine-in-moderation-logo.png);
}
.sk-footer .logos li span {
  display: none;
}
.sk-footer .footer-info {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}
.sk-footer .footer-info li {
  display: inline-block;
  margin: 0.4em 0.3em;
}
.sk-footer .footer-info li a {
  padding: 0.4em 1em;
  color: rgba(252, 251, 247, 0.5);
}
@media only screen and (min-width: 640px) {
  .sk-footer {
    bottom: -50%;
  }
}
.notfound {
  text-align: center;
}
.notfound svg {
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}
.notfound h1 {
  font-weight: normal;
  margin: 0 auto;
  padding: 20px 0 0;
  font-size: 4em;
}
.notfound p,
.notfound a {
  font-size: 2em;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .notfound h1 {
    padding-top: 10px;
    font-size: 5em;
  }
  .notfound p,
  .notfound a {
    font-size: 3em;
    color: white;
  }
}
/*! Plugins */
/* ------ venobox.css --------*/
.vbox-overlay *,
.vbox-overlay *:before,
.vbox-overlay *:after {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vbox-overlay * {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.vbox-overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  -webkit-transform: translateZ(1000px);
  transform: translateZ(1000px);
  transform-style: preserve-3d;
  background-image: url(../images/pissarra-3-green.jpg);
  background-repeat: no-repeat;
  background-color: #0b1e22;
  background-position: center center;
  background-size: auto;
}
/* ----- navigation ----- */
.vbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 40px;
  overflow: hidden;
  position: fixed;
  display: none;
  left: 0;
  z-index: 10000;
}
.vbox-close {
  cursor: pointer;
  position: fixed;
  top: -1px;
  right: 0;
  width: 50px;
  height: 40px;
  padding: 6px;
  display: block;
  background-position: 10px center;
  overflow: hidden;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  z-index: 10000;
}
.vbox-num {
  cursor: pointer;
  position: fixed;
  left: 0;
  height: 40px;
  display: block;
  overflow: hidden;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 10px;
  display: none;
  z-index: 10000;
}
/* ----- navigation ARROWS ----- */
.vbox-next,
.vbox-prev {
  position: fixed;
  top: 50%;
  margin-top: -15px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 45px;
  height: 45px;
  z-index: 10000;
}
.vbox-next span,
.vbox-prev span {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #B6B6B6;
  border-right-color: #B6B6B6;
  text-indent: -100px;
  position: absolute;
  top: 8px;
  display: block;
}
.vbox-prev {
  left: 15px;
}
.vbox-next {
  right: 15px;
}
.vbox-prev span {
  left: 10px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.vbox-next span {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
}
/* ------- inline window ------ */
.vbox-inline {
  width: 420px;
  height: 315px;
  height: 70vh;
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  overflow: auto;
  text-align: left;
}
/* ------- Video & iFrames window ------ */
.venoframe {
  max-width: 100%;
  border: none;
  width: 100%;
  height: 260px;
  height: 70vh;
}
.venoframe.vbvid {
  height: 260px;
}
@media (min-width: 768px) {
  .venoframe,
  .vbox-inline {
    width: 90%;
    height: 360px;
    height: 70vh;
  }
  .venoframe.vbvid {
    width: 640px;
    height: 360px;
  }
}
@media (min-width: 992px) {
  .venoframe,
  .vbox-inline {
    max-width: 1200px;
    width: 80%;
    height: 540px;
    height: 70vh;
  }
  .venoframe.vbvid {
    width: 960px;
    height: 540px;
  }
}
/* 
Please do NOT edit this part! 
or at least read this note: http://i.imgur.com/7C0ws9e.gif
*/
.vbox-open {
  overflow: hidden;
}
.vbox-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  max-height: 100%;
}
.vbox-content {
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px 10px;
}
.vbox-container img {
  max-width: 100%;
  height: auto;
}
.vbox-figlio {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  text-align: initial;
}
img.vbox-figlio {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.vbox-content.swipe-left {
  margin-left: -200px !important;
}
.vbox-content.swipe-right {
  margin-left: 200px !important;
}
.vbox-animated {
  webkit-transition: margin 300ms ease-out;
  transition: margin 300ms ease-out;
}
/* ---------- preloader ----------
 * SPINKIT 
 * http://tobiasahlin.com/spinkit/
-------------------------------- */
.sk-double-bounce,
.sk-rotating-plane {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-rotating-plane {
  background-color: #333;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.sk-double-bounce {
  position: relative;
}
.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-child,
.sk-spinner-pulse,
.sk-three-bounce .sk-child {
  background-color: #333;
  border-radius: 100%;
}
.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.sk-wandering-cubes {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-wandering-cubes .sk-cube {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
  animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
}
.sk-chasing-dots,
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-wandering-cubes .sk-cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.sk-spinner-pulse {
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}
@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.sk-chasing-dots {
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear;
}
.sk-chasing-dots .sk-child {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-circle .sk-child:before,
.sk-fading-circle .sk-circle:before {
  display: block;
  border-radius: 100%;
  content: '';
  background-color: #333;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  margin: 0 auto;
  width: 15%;
  height: 15%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.sk-fading-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  margin: 0 auto;
  width: 15%;
  height: 15%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.sk-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
  clear: both;
}
.eupopup-container {
  background-color: rgba(34, 34, 33, 0.9);
  color: #dedede;
  padding: 5px 30px;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  display: none;
  z-index: 998;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.eupopup-container-top,
.eupopup-container-fixedtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.eupopup-container-fixedtop {
  position: fixed;
}
.eupopup-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.eupopup-container-bottomleft {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
}
.eupopup-container-bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.eupopup-closebutton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 7px;
}
.eupopup-closebutton svg {
  width: 22px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
  color: #fff;
  text-decoration: none;
}
.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
  fill: #dedede;
}
.eupopup-head {
  font-weight: 700;
  padding: 7px;
  color: #fff;
}
.eupopup-body {
  color: #dedede;
  font-weight: 400;
}
.eupopup-buttons {
  padding: 14px 0 5px 0;
}
.eupopup-button_1 {
  color: #353434;
  background-color: #fcfbf7;
}
.eupopup-button_2 {
  color: #fcfbf7;
  background-color: transparent;
}
.eupopup-button {
  margin: 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 10px;
  text-decoration: none;
}
.eupopup-button_1:hover,
.eupopup-button_1:focus {
  text-decoration: none;
  color: rgba(53, 52, 52, 0.75);
}
body .eupopup-color-inverse {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}
body .eupopup-color-inverse .eupopup-head {
  color: #000;
}
body .eupopup-style-compact {
  text-align: left;
  padding: 8px 30px 7px 20px;
  line-height: 15px;
}
body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
  display: inline;
  padding: 0;
  margin: 0;
}
body .eupopup-style-compact .eupopup-button {
  margin: 0 5px;
}
.eupopup-container-hide {
  display: none !important;
}
