/*********************************************
  * Filename: style.css
  * Website: http://
  * Author: Sergi Duran
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 13/01/2023
  * Version: 1.0
*********************************************/

/* CONTENT
  ===========================================
    
  BASE STYLES
    Forms and Inputs
    Typography
    Links and Buttons
    Tables
  
  UTILITY CLASSES
    Grid Sistem
    Lists
      Animations

  LAYOUT
    Globla Header
    Navigation
    Fixed Navigation
    Advanced Dropdown Navigation
    Footer

  =========================================== */

@import "normalize.less";
@import "variables.less";
@import "mixins.less";
@import "main.less";
//@import "thumper.less";


// Global
// ---------------------------------------------------------------------------
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body {
    font-size: 16px;
}

p {
    line-height: 1.5;
}


html, body {
   height: 100%;
}

body {
    //font-family: @font-family-raleway;
    font-family: @font-family-jenna-sue;
    color: #FCFBF7;
    /*overflow: auto;*/
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/pissarra-3-green.jpg);
    background-repeat: no-repeat;
    background-color: @blackboard;
    background-position: center center;
    background-size: cover;
    overflow-y: scroll;
    position: fixed;
}

body.loaded {
    position: absolute;
    overflow-y: auto;
}


h2, h3, h4 {
    font-family: @font-family-bitter;
    font-weight: 700;
}

a {
    color: #7f8fa9;
}

a:hover, a:focus {
    text-decoration: none;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCFBF7;
    background-image:  url(../images/rice-paper-3.png);
    background-repeat: repeat;
    border: 15px solid #333;
    z-index: 999; /* makes sure it stays on top */
    
    -webkit-transition: all 0.4s cubic-bezier(0.7,0,0.3,1);
    -moz-transition: all 0.4s cubic-bezier(0.7,0,0.3,1);
    transition: all 0.4s cubic-bezier(0.7,0,0.3,1);
}

.loaded #preloader {
    border: 0;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

header {
	/*position: fixed;*/
	top: 0;
	z-index: 1000;
	/*min-height: 460px;*/
	width: 100%;
	/*height: 100%;*/
    text-align: center;
}

header .logo {
    position: absolute;
    left: 1%;
    top: -2px;
    
    opacity: 0;
    transition: opacity .4s ease-in-out 2.2s;
    -moz-transition: opacity .4s ease-in-out 2.2s;
    -webkit-transition: opacity .4s ease-in-out 2.2s;
}

.loaded header .logo {
    opacity: 0.9;
}

header .logo img {
    width: 50px;
    height: 64px;
}

@media only screen and (min-width: 768px) {
    header .logo {
        //display: block;
        left: 5%;
    }
    header .logo img {
        width: 74px;
        height: 94px;
    }
}


#vins-de-postal {
    position: absolute;
    position: absolute; /*ie6 and above*/
    display: block;
    width: 680px;
    height: 134px;
    left: 50%;
    top: 50%;
    margin: -72px 0 0 -340px;
    z-index: 9999;
}

#vdp-inline {
    /*position: fixed;*/
    position: absolute; /*ie6 and above*/
    display: block;
    width: 680px;
    height: 134px;
    left: 50%;
    top: 50%;
    margin: -72px 0 0 -340px;
    
    -webkit-transition: all 1s cubic-bezier(0.7,0,0.3,1);
    -moz-transition: all 1s cubic-bezier(0.7,0,0.3,1);
    transition: all 1s cubic-bezier(0.7,0,0.3,1);

    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: top center;
    z-index: 9999;
}

.loaded #vdp-inline {
    top: 40%;
    transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
}

@media only screen and (min-width: 320px) {
    .loaded #vdp-inline {
        top: 25%;
        transform: scale(0.45);
        -moz-transform: scale(0.45);
        -webkit-transform: scale(0.45);
    }
}

@media only screen and (min-width: 480px) {
    .loaded #vdp-inline {
        top: 15%;
        transform: scale(0.65);
        -moz-transform: scale(0.65);
        -webkit-transform: scale(0.65);
    }
}

.svg-vdp {
    display: none;
}

.loaded .svg-vdp {
    /*width: 90%;
    max-height: 140px;*/
}

#vdp-inline svg path {
    fill: #333;
}

.loaded #vdp-inline svg path {
    fill: #FCFBF7;
}

#vdp-inline {
    /*display: none;*/
}
/*
.fallback {
    background-image: url(ibasiam-logo.png);
}*/

h1.slogan {
    font-weight: normal;
    margin: 0 auto;
    padding: 180px 0 0;
    font-size: 2.35em;
    
    opacity: 0;
    transition: opacity .4s ease-in-out 1.7s;
    -moz-transition: opacity .4s ease-in-out 1.7s;
    -webkit-transition: opacity .4s ease-in-out 1.7s;
}

.loaded h1.slogan {
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    h1.slogan {
        padding-top: 160px;
        font-size: 2.65em;
    }
}

.sk-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 40px 0 260px 0;
	//max-width: 1100px;
	//width: 90%;
    
    -webkit-transition: all 1s cubic-bezier(0.7,0,0.3,1);
    -moz-transition: all 1s cubic-bezier(0.7,0,0.3,1);
    transition: all 1s cubic-bezier(0.7,0,0.3,1);
    .transition-delay-02;
    transform: scale(0.8) translateY(50%);
    -moz-transform: scale(0.8) translateY(50%);
    -webkit-transform: scale(0.8) translateY(50%);
}

.loaded .sk-main {
    transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
}

.postcards {
	margin: 0 auto;
	padding-top: 0;
	min-height: 400px;
	max-width: 100%;
	width: 100%;
	border-radius: 0;
	background-size: 100%;
}

.grid {
	position: relative;
	//clear: both;
	margin: 0 auto;
	padding: 1em 0.550em 4em;
	//max-width: 510px;
	list-style: none;
	text-align: center;
    
    /*display: flex;
    flex-direction: row-reverse;*/ 
}

@media only screen and (min-width: 1024px) {
    .grid {
        max-width: 100%;
    }
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0.5em auto;
}

@media only screen and (min-width: 1024px) {
    .row {
        flex-direction: row;
    }
}


figure {
    //position: relative;
    //float: left;
    display: inline-block;
    margin: 0 1% 20px;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .transition02;
}

.grid a:focus {
    outline: 0;
}


.grid .row1 a:first-child figure {
	transform: rotate(0);
    .transition-delay-1;
}

.loaded .grid .row1 a:first-child figure {
	transform: rotate(3deg);
}

.grid .row1 a:nth-child(2) figure {
	transform: rotate(0);
    .transition-delay-1;
}

.loaded .grid .row1 a:nth-child(2) figure {
	transform: rotate(1deg) translateX(0) translateY(-15px);
}

.grid .row2 a:first-child figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row2 a:first-child figure {
	transform: rotate(-1deg) translateX(0) translateY(-10px);
}

.grid .row2 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row2 a:nth-child(2) figure {
	transform: rotate(-3deg) translateX(0) translateY(10px);
}

.grid .row2 a:nth-child(3) figure {
	transform: rotate(0) translateX(0);
    .transition-delay-075;
}

.loaded .grid .row2 a:nth-child(3) figure {
	transform: rotate(1deg) translateX(10px);
}

.grid .row3 a:first-child figure {
	transform: rotate(0);
    .transition-delay-05;
}

.loaded .grid .row3 a:first-child figure {
	transform: rotate(1deg);
}

.grid .row3 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row3 a:nth-child(2) figure {
	transform: rotate(-1deg) translateX(0) translateY(10px);	
}

.grid .row3 a:nth-child(3) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row3 a:nth-child(3) figure {
	transform: rotate(2deg) translateX(0) translateY(10px);	
}

.grid .row4 a:first-child figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:first-child figure {
	transform: rotate(3deg) translateX(-5px) translateY(10px);
}

.grid .row4 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:nth-child(2) figure {
	transform: rotate(1deg) translateX(0) translateY(7px);	
}

.grid .row4 a:nth-child(3) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:nth-child(3) figure {
	transform: rotate(-1deg) translateX(0) translateY(-5px);	
}

@media only screen and (min-width: 1024px) {
    /*.loaded .grid .row4 a:first-child figure {
        -webkit-transform: rotate(3deg) translateX(260px) translateY(10px);
        transform: rotate(3deg) translateX(260px) translateY(10px);
    }*/ 
}

figure img {
    display: block;
    border-radius: 0;
    margin: 0 auto;
    outline: none;
    width: 100%;
}

figure .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    font-size: 6em;
    //font-family: @font-family-jenna-sue;
    background: @autumn25;
    /*-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);*/
    .transition-ease-in-out05;
    z-index: 1;
}

figure .img-overlay:hover,
figure .img-overlay:focus {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

figure .img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}

.concept {
    max-width: 990px;
    margin: 0.500em auto 0;
    padding: 20px;
    font-size: 2em;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .concept {
        font-size: 2.5em;
    }
}

.button {
    text-align: center;
    margin-bottom: 2em;
}

.button a {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    padding: 0.800em 1em 0.600em;
    background-color: @white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.600em;
    //height: 2.800em;
    //line-height: 2.800em;
    .transition03;
}

.button a:hover,
.button a:focus {
    padding: 0.800em 1.300em 0.600em;
}


// Lightbox modal
// ---------------------------
body.modal {
    //position: relative;
    /*background-color: #FCFBF7;
    background-image:  url(../images/rice-paper-3.png);
    background-repeat: repeat;
    background-size: auto;*/ 
}

.modal {
    //display: none;
}

.sk-modal {
    max-width: 700px;
    padding: 10px 50px 30px;
    margin: 0 auto;
    color: #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #fff;
}

.sk-modal h2 {
    font-size: 2.500em;
}

.sk-modal h3 {
    font-size: 2em;
}

.sk-modal h4 {
    font-size: 1.500em;
}

.sk-modal img {
    max-width: 100%;
    height: auto;
    margin: 3em auto;
}

.sk-modal a {
    color: @blackboard;
}

.sk-modal img.bottle {
    //float: right;
    display: block;
}

.sk-modal img.bg-card {
    //float: left;
    display: block;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.75);
}

.sk-modal .sk-modal-content {
    display: inline-block;
    //max-width: 370px; 
    width: 100%;
    text-align: justify;
    margin: 1em 0;
    font-family: @font-family-raleway;
    font-weight: 400;
}

.sk-modal .sk-modal-content p {
    font-size: 1.100em;
}

.sk-modal .sk-modal-content dl {
    text-align: left;
    padding-bottom: 1em;
}

.sk-modal .sk-modal-content dl dt {
    font-weight: 700;
    margin: 2em 0 0.500em;
}

.sk-modal .sk-modal-content dl.onesven dd {
    margin: 1em 0 1em;
}

.sk-modal .sk-modal-content dl dd dl {
    font-size: 0.900em;
    margin-left: 1em;
}

.sk-modal .sk-modal-content dl dd dl dt {
    margin-top: 1em;
}


// Footer
// ---------------------------
.sk-footer {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: @black50;
  font-weight: 400;
  z-index: 7;
  .transition06;
  .transition-delay-02;
    font-family: @font-family-raleway;
}

.sk-footer.footer-up {
  bottom: 0;
}

.sk-footer h3 {
  margin: 0;
  padding: 0;
}

.sk-footer a {
  color: @white;
}

.sk-footer a:hover,
.sk-footer a:focus {
  color: @white50;;
}

.sk-footer .grid-margin-footer {
  margin-top: 2%;
  margin-bottom: 2%;
}

.sk-footer .grid-margin-footer p {
  padding: 0;
  margin: 0;
}

.sk-footer .logos {
  margin: 1em 0 0.500em;
}

.sk-footer .logos li {
  display: inline;
  margin: 0 0.500em;
}

.sk-footer .logos li a {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.sk-footer .logos li:first-child a {
  background-image: url(../images/do-emporda-logo.png);
}

.sk-footer .logos li:nth-child(2) a {
  background-image: url(../images/ruta-del-vi-logo.png);
}

.sk-footer .logos li:nth-child(3) a {
  background-image: url(../images/wine-in-moderation-logo.png);
}

.sk-footer .logos li span {
  display: none;
}

.sk-footer .footer-info {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.sk-footer .footer-info li {
  display: inline-block;
  margin: 0.400em 0.300em;
}

.sk-footer .footer-info li a {
   padding: 0.400em 1em;
   color: @white50;
}

@media only screen and (min-width: 640px) {
    .sk-footer {
        bottom: -50%;
    }
}


.notfound {
    text-align: center;
}

.notfound svg {
    width: 80%;
    max-width: 800px;
    margin: 2em auto;
}

.notfound h1 {
    font-weight: normal;
    margin: 0 auto;
    padding: 20px 0 0;
    font-size: 4em;
}

.notfound p,
.notfound a {
    font-size: 2em;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .notfound h1 {
        padding-top: 10px;
        font-size: 5em;
    }
    
    .notfound p,
    .notfound a {
        font-size: 3em;
        color: white;
    }
}


// Plugins
// ---------------------------------------------------------------------------
@import "plugins.less";
