/*! Variables */
// ==========================================================================

// Colors
//============
@black: rgba(51, 51, 51, 1);
@black25: rgba(51, 51, 51, 0.25);
@black50: rgba(51, 51, 51, 0.5);
@black75: rgba(51, 51, 51, 0.75);

@white: rgba(252, 251, 247, 1);
@white50: rgba(252, 251, 247, 0.5);

@blackboard: #0b1e22;

@autumn: rgba(158, 84, 6, 1);
@autumn25: rgba(158, 84, 6, 0.25);
@autumn50: rgba(158, 84, 6, 0.5);

@facebook: rgba(59, 89, 152, 1);
@twitter: rgba(0, 172, 237, 1);
@google: rgba(211, 72, 54, 1);
@email: rgba(210, 210, 210, 1);

// Typography
@font-family-bitter:    'Bitter', serif;
@font-family-raleway:   'Raleway', sans-serif;
@font-family-jenna-sue: 'jenna_sue_proregular';
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;


/* Font Weight */
@font-weight-regular: 400;
@font-weight-bold: 700;

/* Letter spacing */
@letter-spacing-150: -0.150em;
@letter-spacing-125: -0.125em;
@letter-spacing-100: -0.100em;
@letter-spacing-75: -0.075em;
@letter-spacing-50: -0.0.050em;
@letter-spacing-25: -0.025em;
@letter-spacing-10: -0.010em;

/* Font size */
@font-size-base: 16px;
@font-size-large: 125%; // 20px
@font-size-small: 75%; // 12px
@font-size-mini: 50%; // 8px
