<div id="bassedes" class="modal">

    <div class="sk-modal">

        <h2>Bassedes</h2>

        <img class="bottle" src="assets/images/bassedes-bottle.jpg" alt="Bassades" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/bassedes-back.jpg" alt="Bassedes 2011" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - Bassedes 2011</dd>
                <dt>Anyada</dt>
                <dd>2011</dd>
                <dt>Finca</dt>
                <dd>Bassedes</dd>
                <dt>Municipi</dt>
                <dd>Sant Climent Sescebes</dd>
                <dt>Superfície</dt>
                <dd>1 vessana i mitja</dd>
                <dt>Altitud</dt>
                <dd>106 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud i planer</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat geològic de pissarres i textura arenosa</dd>
                <dt>Varietat</dt>
                <dd>Lledoner negre</dd>
                <dt>Any de plantació</dt>
                <dd>2000</dd>
                <dt>Conducció</dt>
                <dd>Emparrada (espatllera)</dd>
                <dt>Viticultors</dt>
                <dd>Josep i Carles Vicens</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada marcada per un hivern fred i una primavera i un estiu amb moltes precipitacions i amb temperatures moderades que, juntament amb l'excés de producció d'algunes zones, van provocar maduracions molt heterogènies. </dd>
                <dt>Verema</dt>
                <dd>21 de setembre de 2011</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 4.100 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Fermentació entre 20 i 25 ºC. Maceració de 18 dies amb raïm i la meitat de la rapa. Criança amb dipòsit durant 12 mesos amb les seves mares amb remoguts molt suaus mensuals. Posterior criança durant 10 mesos en bótes de roure francès de 3er ús. Embotellat i criança en ampolles.</dd>
                <dt>Data d'embotellat</dt>
                <dd>14 d'abril de 2014</dd>
                <dt>Nº ampolles</dt>
                <dd>832 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,49</dd>
                        <dt>Acidesa total</dt>
                        <dd>3,3 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,6%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,47 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 16 i 18ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel·lent qualitat provinent d'un bosc d'alzina surera de Sta. Coloma de Farners pelat l'estiu del 2012 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Roger Lleixà i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/bassedes-0.jpg" alt="Bassedes 2011" width="600" height="400"/>
            <img class="bg-card" src="assets/images/bassedes-1.jpg" alt="Bassedes 2011" width="600" height="400"/>
            <img class="bg-card" src="assets/images/bassedes-2.jpg" alt="Bassedes 2011" width="600" height="400"/>
            <img class="bg-card" src="assets/images/bassedes-3.jpg" alt="Bassedes 2011" width="600" height="400"/>
            <img class="bg-card" src="assets/images/bassedes-4.jpg" alt="Bassedes 2011" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->