<div id="el-beurac" class="modal">

    <div class="sk-modal">

        <h2>El Beurac</h2>

        <img class="bottle" src="assets/images/el-beurac-bottle.jpg" alt="El Beurac" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/el-beurac-back.jpg" alt="El Beurac 2013" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - El Beurac 2013</dd>
                <dt>Anyada</dt>
                <dd>2013</dd>
                <dt>Finca</dt>
                <dd>El Beurac</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>2 vessanes</dd>
                <dt>Altitud</dt>
                <dd>107 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Est amb un pendent de gairebé el 10%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil·lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Lledoner roig</dd>
                <dt>Any de plantació</dt>
                <dd>1969</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultor</dt>
                <dd>Xavier LLach</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada marcada per un hivern molt sec, una primavera amb pluges molt abundants i un estiu sec però amb temperatures baixes. Tot plegat va fer retardar la maduració aproximadament 15 dies respecte els anys anteriors.</dd>
                <dt>Verema</dt>
                <dd>23 de setembre de 2013</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 4.800 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Maceració pel.licular en fred de 3 hores a tolva, desrapat trepitjat i separat només el most flor. Fermentació en barriques usades de roure francès Allier sense superar els 20 ºC. Criança amb mares en dipòsit amb bastonatges setmanals durant 6 mesos. Embotellat i criança en ampolla.</dd>
                <dt>Data d'embotellat</dt>
                <dd>6 de juny de 2014</dd>
                <dt>Nº ampolles</dt>
                <dd>838 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,19</dd>
                        <dt>Acidesa total</dt>
                        <dd>4,6 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>13,70%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,39 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 12 i 14ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel·lent qualitat provinent d'un bosc d'alzina surera de Sta. Coloma de Farners pelat l'estiu del 2012 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Roger Lleixà i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/el-beurac-0.jpg" alt="El Beurac 2013" width="600" height="400"/>
            <img class="bg-card" src="assets/images/el-beurac-1.jpg" alt="El Beurac 2013" width="600" height="400"/>
            <img class="bg-card" src="assets/images/el-beurac-2.jpg" alt="El Beurac 2013" width="600" height="400"/>
            <img class="bg-card" src="assets/images/el-beurac-3.jpg" alt="El Beurac 2013" width="600" height="400"/>
            <img class="bg-card" src="assets/images/el-beurac-4.jpg" alt="El Beurac 2013" width="600" height="400"/>

        </div> <!-- /sk-modal-content -->
    </div> <!-- /sk-modal -->

</div> <!-- /modal -->