<div id="els-plans" class="modal">

    <div class="sk-modal">

        <h2>Els Plans</h2>

        <img class="bottle" src="assets/images/els-plans-bottle.jpg" alt="Els Plans 2012" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/els-plans-back.jpg" alt="Els Plans 2012" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - Els Plans 2012</dd>
                <dt>Anyada</dt>
                <dd>2012</dd>
                <dt>Finca</dt>
                <dd>Els Plans</dd>
                <dt>Municipi</dt>
                <dd>Rabós d'Empordà</dd>
                <dt>Superfície</dt>
                <dd>7 vessanes i mitja</dd>
                <dt>Altitud</dt>
                <dd>134 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud amb un pendent de l'11%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena negra</dd>
                <dt>Any de plantació</dt>
                <dd>1940</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultor</dt>
                <dd>Jaume Brugat</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada que es recorda per una tardor de pluges abundants i amb un hivern molt sec i de temperatures baixes. Molt marcada per diverses adversitats, com el fort vent a l'inici del cicle vegetatiu i una pedregada considerable, però sobretot pel gran incendi que va sacsejar bona part del territori altempordanès. Una maduració condicionada per un estiu molt sec i un agost de temperatures altes van marcar una verema pausada i de producció lleugera.</dd>
                <dt>Verema</dt>
                <dd>26 de setembre de 2012</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 2.100 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Fermentació entre 24 i 27ºC. Maceració de 22 dies combinant remontatges i delestatges. Criança durant 16 mesos en bótes de roure francès de 2on ús. Embotellat i criança en ampolles.</dd>
                <dt>Data d'embotellat</dt>
                <dd>28 de juliol de 2015</dd>
                <dt>Nº ampolles</dt>
                <dd>940 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,44</dd>
                        <dt>Acidesa total</dt>
                        <dd>4,1 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,4%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,58 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 16 i 18ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera de Sta. Coloma de Farners pelat l'estiu del 2011 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Gaspar Morer i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/els-plans-4.jpg" alt="Els Plans 2012" width="600" height="400"/>
            <img class="bg-card" src="assets/images/els-plans-0.jpg" alt="Els Plans 2012" width="600" height="400"/>
            <img class="bg-card" src="assets/images/els-plans-1.jpg" alt="Els Plans 2012" width="600" height="400"/>
            <img class="bg-card" src="assets/images/els-plans-2.jpg" alt="Els Plans 2012" width="600" height="400"/>
            <img class="bg-card" src="assets/images/els-plans-3.jpg" alt="Els Plans 2012" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->