<div id="l-escumador" class="modal">

    <div class="sk-modal">

        <h2>L'Escumador</h2>

        <img class="bottle" src="assets/images/l-escumador-bottle.jpg" alt="L'Escumador 2014" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/l-escumador-back.jpg" alt="L'Escumador 2014" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - L'Escumador 2014</dd>
                <dt>Anyada</dt>
                <dd>2014</dd>
                <dt>Finca</dt>
                <dd>L'Escumador</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>Una mica més de 6 vessanes (de les quals hi ha molt pocs ceps de Carinyena roja barrejats entre Lledoner roig i Carinyena blanca)</dd>
                <dt>Altitud</dt>
                <dd>155 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud-oest amb un pendent de més del 10%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil·lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena roja</dd>
                <dt>Any de plantació</dt>
                <dd>1975</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultors</dt>
                <dd>Narcís i Roger Geli</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada caracteritzada per una tardor, un hivern i una primavera de temperatures moderades i pluviometria molt baixa, amb un procés de maduració molt marcat per un agost amb humitats relatives altes. Verema complicada i llarga amb punts de maduresa molt diversos i heterogenis.</dd>
                <dt>Verema</dt>
                <dd>2 d'octubre de 2014</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 4.900 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Maceració carbònica del raim sencer amb la rapa durant 8 dies, retirant la part d'escorregut i aprofitant només la part de most premsat que acaba de fermentar sense sobrepassar els 22ºC. Criança amb mares en dipòsit amb bastonatges setmanals durant 6 mesos. Embotellat i criança en ampolla.</dd>
                <dt>Data d'embotellat</dt>
                <dd>28 de juliol de 2015</dd>
                <dt>Nº ampolles</dt>
                <dd>383 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,00</dd>
                        <dt>Acidesa total</dt>
                        <dd>4 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>13,9%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,46 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 12 i 14ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera de Sta. Coloma de Farners pelat l'estiu del 2011 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Roger Lleixà i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/l-escumador-4.jpg" alt="L'Escumador 2014" width="600" height="400"/>
            <img class="bg-card" src="assets/images/l-escumador-0.jpg" alt="L'Escumador 2014" width="600" height="400"/>
            <img class="bg-card" src="assets/images/l-escumador-1.jpg" alt="L'Escumador 2014" width="600" height="400"/>
            <img class="bg-card" src="assets/images/l-escumador-2.jpg" alt="L'Escumador 2014" width="600" height="400"/>
            <img class="bg-card" src="assets/images/l-escumador-3.jpg" alt="L'Escumador 2014" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->