<div id="la-cardonera" class="modal">

    <div class="sk-modal">

        <h2>La Cardonera</h2>

        <img class="bottle" src="assets/images/la-cardonera-bottle.jpg" alt="La Cardonera" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/la-cardonera-back.jpg" alt="La Cardonera" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - La Cardonera 2013</dd>
                <dt>Anyada</dt>
                <dd>2013</dd>
                <dt>Finca</dt>
                <dd>La Cardonera</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>2 vessanes</dd>
                <dt>Altitud</dt>
                <dd>143 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud-est amb un pendent del 8%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena blanca</dd>
                <dt>Any de plantació</dt>
                <dd>1930</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultor</dt>
                <dd>Josep Maria Casellas</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada marcada per un hivern molt sec, una primavera amb pluges molt abundants i un estiu sec però amb temperatures baixes. Tot plegat va fer retardar la maduració aproximadament 15 dies respecte els anys anteriors. </dd>
                <dt>Verema</dt> 
                <dd>8 d'octubre de 2013</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 2.500 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Blanc brisat de 2 dies, concretament 48 hores de maceració entre most i raïm aixafat i desrapat amb fred, iniciant-se la fermentació, posterior sangrat i seguiment de la fermentació entre 16 i 18 ºC. Criança amb mares en dipòsit amb bastonatges setmanals durant 6 mesos. Embotellat i criança en ampolla.</dd>
                <dt>Data d'embotellat</dt>
                <dd>6 de juny de 2014</dd>
                <dt>Nº ampolles</dt>
                <dd>476 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,23</dd>
                        <dt>Acidesa total</dt>
                        <dd>4,3 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>13,70%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,40 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 12 i 14ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel·lent qualitat provinent d'un bosc d'alzina surera de Sta. Coloma de Farners pelat l'estiu del 2012 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Roger Lleixà i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/la-cardonera-0.jpg" alt="La Cardonera" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-cardonera-1.jpg" alt="La Cardonera" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-cardonera-2.jpg" alt="La Cardonera" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-cardonera-3.jpg" alt="La Cardonera" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-cardonera-4.jpg" alt="La Cardonera" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->