<div id="la-porta-vermella" class="modal">

    <div class="sk-modal">

        <h2>La Porta Vermella</h2>

        <img class="bottle" src="assets/images/la-porta-vermella-bottle.jpg" alt="La Porta Vermella" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/la-porta-vermella-back.jpg" alt="La Porta Vermella" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - La Porta Vermella 2015</dd>
                <dt>Anyada</dt>
                <dd>2015</dd>
                <dt>Finca</dt>
                <dd>La Porta Vermella</dd>
                <dt>Municipi</dt>
                <dd>Agullana</dd>
                <dt>Superfície</dt>
                <dd>Una mica més de 3 vessanes</dd>
                <dt>Altitud</dt>
                <dd>129 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Nord amb un pendent del 7%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat granític i rocós de textura arenosa resultant de l’edafització del sauló</dd>
                <dt>Varietat</dt>
                <dd>Lledoner blanc</dd>
                <dt>Any de plantació</dt>
                <dd>1997</dd>
                <dt>Conducció</dt>
                <dd>Emparrada (espatllera)</dd>
                <dt>Viticultors</dt>
                <dd>Josep Vicens</dd>
                <dt>Meteorologia</dt>
                <dd>Campanya maleïda per les condicions meteorològiques - sequera considerable durant la primavera, gelada de brots a principis d'abril, tramuntanada a mitjans de maig i pedregada en el mes de juny. Tot i aquestes adversitats i un estiu sec i molt caloròs, les pluges moderades de finals d'agost van ajudar a que hi hagués una bona maduració dels raïms que havien quedat, obtinguent una verema lleugera i de qualitat excepcional, sobretot de les varietats tardanes.</dd>
                <dt>Verema</dt>
                <dd>7 de setembre de 2015</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 6.500 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Maceració pel·licular en fred de 6 hores a tolva, desrapat trepitjat i lleugerament premsat. Fermentació en barriques usades de roure francès Allier sense superar els 20ºC. Criança amb mares en dipòsit amb bastonatges setmanals durant 6 mesos. Embotellat i criança en ampolla.</dd>
                <dt>Data d'embotellat</dt>
                <dd>2 de juny de 2016</dd>
                <dt>Nº ampolles</dt>
                <dd>702 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,11</dd>
                        <dt>Acidesa total</dt>
                        <dd>4 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,50%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,55 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 12 i 14ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera ubicat en una finca amb certificat PEFC del municipi de Riells i Viabrea pelat l'estiu del 2014 i fabricat per l'empresa Costa Quer de Cassà de la Selva.</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Jaume Aguadé - http://jaumeaguade.cat - i muntatge d'Agnès Figueres - agnesdisseny.com -</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/la-porta-vermella-0.jpg" alt="La Porta Vermella" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->