<div id="la-sureda" class="modal">

    <div class="sk-modal">

        <h2>La Sureda</h2>

        <img class="bottle" src="assets/images/la-sureda-bottle.jpg" alt="La Sureda 2014" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/la-sureda-back.jpg" alt="La Sureda 2014" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - La Sureda 2014</dd>
                <dt>Anyada</dt>
                <dd>2014</dd>
                <dt>Finca</dt>
                <dd>La Sureda</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>Una mica més de 6 vessanes</dd>
                <dt>Altitud</dt>
                <dd>153 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud amb un pendent del 8% disposat en terrasses</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Lledoner negre</dd>
                <dt>Any de plantació</dt>
                <dd>2001</dd>
                <dt>Conducció</dt>
                <dd>Emparrada (espatllera)</dd>
                <dt>Viticultor</dt>
                <dd>Pere Lloveras</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada caracteritzada per una tardor, un hivern i una primavera de temperatures moderades i pluviometria molt baixa, amb un procés de maduració molt marcat per un agost amb humitats relatives altes. Verema complicada i llarga amb punts de maduresa molt diversos i heterogenis.</dd>
                <dt>Verema</dt>
                <dd>19 de setembre de 2014</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 5.800 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Encubat amb un terç de la rapa i fermentació entre 22 i 26 ºC. Maceració molt llarga de 42 dies combinant remontatges i delestatges. Criança durant 14 mesos en bótes de roure americà de 2on ús. Embotellat i criança en ampolles.</dd>
                <dt>Data d'embotellat</dt>
                <dd>2 de juny del 2016</dd>
                <dt>Nº ampolles</dt>
                <dd>748 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,54</dd>
                        <dt>Acidesa total</dt>
                        <dd>3,2 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,65%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,49 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 16 i 18ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera ubicat en una finca amb certificat PEFC del municipi de Riells i Viabrea pelat l'estiu del 2014 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Gaspar Morer - www.gasparmorer.cat - i muntatge d'Agnès Figueres - agnesdisseny.com -</dd>
                    </dl>
                </dd>
            </dl>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->