<div id="la-serra" class="modal">

    <div class="sk-modal">

        <h2>La Serra</h2>

        <img class="bottle" src="assets/images/la-serra-bottle.jpg" alt="La Serra 2015" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/la-serra-back.jpg" alt="La Serra 2015" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - La Serra 2015</dd>
                <dt>Anyada</dt>
                <dd>2015</dd>
                <dt>Finca</dt>
                <dd>La Serra</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>3 vessanes</dd>
                <dt>Altitud</dt>
                <dd>116 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Est amb un pendent de més o menys el 8%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Lledoner roig</dd>
                <dt>Any de plantació</dt>
                <dd>1970</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultors</dt>
                <dd>Serafí Geli</dd>
                <dt>Meteorologia</dt>
                <dd>Campanya maleïda per les condicions meteorològiques - sequera considerable durant la primavera, gelada de brots a principis d'abril, tramuntanada a mitjans de maig i pedregada en el mes de juny. Tot i aquestes adversitats i un estiu sec i molt caloròs, les pluges moderades de finals d'agost van ajudar a que hi hagués una bona maduració dels raïms que havien quedat, obtinguent una verema lleugera i de qualitat excepcional, sobretot de les varietats tardanes.</dd>
                <dt>Verema</dt>
                <dd>9 de setembre de 2015</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 4.300 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Raim roig vinificat com a negre. Fermentació entre 18 i 23 ºC. Maceració de 14 dies amb totes les pells i la meitat de la rapa. Criança amb dipòsit durant 6 mesos amb les seves mares amb remoguts molt suaus setmanals. Posterior criança en ampolles.</dd>
                <dt>Data d'embotellat</dt>
                <dd>23 de juny de 2016</dd>
                <dt>Nº ampolles</dt>
                <dd>524 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,1</dd>
                        <dt>Acidesa total</dt>
                        <dd>3,9 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,50%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,41 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 14 i 16ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel·lent qualitat provinent d'un bosc d'alzina surera ubicat en una finca amb certificat PEFC del municipi de Riells i Viabrea pelat l'estiu del 2014 i fabricat per l'empresa Costa Quer de Cassà de la Selva.</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Gaspar Morer - www.gasparmorer.cat - i muntatge d'Agnès Figueres - agnesdisseny.com -</dd>
                    </dl>
                </dd>
            </dl>

            <img class="bg-card" src="assets/images/la-serra-0.jpg" alt="La Serra 2015" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-serra-1.jpg" alt="La Serra 2015" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-serra-2.jpg" alt="La Serra 2015" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-serra-3.jpg" alt="La Serra 2015" width="600" height="400"/>
            <img class="bg-card" src="assets/images/la-serra-4.jpg" alt="La Serra 2015" width="600" height="400"/>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->