<div id="les-domines" class="modal">

    <div class="sk-modal">

        <h2>Les Dòmines</h2>

        <img class="bottle" src="assets/images/les-domines-bottle.jpg" alt="Les Dòmines 2016" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/les-domines-back.jpg" alt="Les Dòmines 2016" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - Les Dòmines 2016</dd>
                <dt>Anyada</dt>
                <dd>2016</dd>
                <dt>Finca</dt>
                <dd>Les Dòmines</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>Aproximadament 6 vessanes i mitja</dd>
                <dt>Altitud</dt>
                <dd>121 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud-est amb un pendent del 4%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena blanca</dd>
                <dt>Any de plantació</dt>
                <dd>1949</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultor</dt>
                <dd>Carles Lagresa</dd>
                <dt>Meteorologia</dt>
                <dd>Aquesta anyada es caracteritza per ser la més curta de la història de la cooperativa bàsicament per tres motius: un atac molt important de mildiu durant al floració amb pluges diàries, una sequera extrema entre juny i agost, i un atac sense precedents de senglar. Malgrat tot, i afronatnt peridoes de maduració molt heterogenis, la poca quantitat de raïm va entrar en un estat de qualitat excel.lent.</dd>
                <dt>Verema</dt>
                <dd>29 de setembre de 2016</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 3.600 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Blanc brisat de 2 dies, concretament 58 hores de maceració entre most i raïm aixafat i desrapat amb fred iniciant-se la fermentació, posterior sangrat i seguiment de la fermentació entre 18 i 20 ºC. Criança amb mares en bótes velles de 7è ús amb bastonatges setmanals durant 6 mesos. Embotellat i criança en ampolla.</dd>
                <dt>Data d'embotellat</dt>
                <dd>8 de juny de 2017</dd>
                <dt>Nº ampolles</dt>
                <dd>724 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,14</dd>
                        <dt>Acidesa total</dt>
                        <dd>4,2 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>13,50%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,43 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 10 i 12ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera del Montseny pelat l'estiu del 2014 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Xavi Casellas i muntatge d'Agnès Figueres</dd>
                    </dl>
                </dd>
            </dl>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->
        