<div id="les-muntades" class="modal">

    <div class="sk-modal">

        <h2>Les Muntades</h2>

        <img class="bottle" src="assets/images/les-muntades-bottle.jpg" alt="Les Muntades 2013" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/les-muntades-back.jpg" alt="Les Muntades 2013" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - Les Muntades 2013</dd>
                <dt>Anyada</dt>
                <dd>2013</dd>
                <dt>Finca</dt>
                <dd>Les Muntades</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>Quasi 6 vessanes (de les quals gairebé 4,5 són de Carinyena negra i la resta de Carinyena blanca)</dd>
                <dt>Altitud</dt>
                <dd>La part més alta a 185 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Sud amb un pendent del 30% disposat en terrasses</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena negre</dd>
                <dt>Any de plantació</dt>
                <dd>1934</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultor</dt>
                <dd>Jaume i Pere Lloveras</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada marcada per un hivern molt sec, una primavera amb pluges molt abundants i un estiu sec però amb temperatures baixes. Tot plegat va fer retardar la maduració aproximadament 15 dies respecte els anys anteriors.</dd>
                <dt>Verema</dt>
                <dd>15 d'octubre de 2013</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 4.400 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Fermentació entre 24 i 27ºC. Maceració de 19 dies combinant remontatges i delestatges. Criança durant 22 mesos en bótes de roure francès de 3er ús. Embotellat i criança en ampolles.</dd>
                <dt>Data d'embotellat</dt>
                <dd>2 de juny del 2016</dd>
                <dt>Nº ampolles</dt>
                <dd>739 ampolles numerades</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,58</dd>
                        <dt>Acidesa total</dt>
                        <dd>3,8 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,60%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,53 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 16 i 18ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat provinent d'un bosc d'alzina surera ubicat en una finca amb certificat PEFC del municipi de Riells i Viabrea pelat l'estiu del 2014 i fabricat per l'empresa Costa Quer de Cassà de la Selva</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia de Gaspar Morer - www.gasparmorer.cat - i muntatge d'Agnès Figueres - agnesdisseny.com -</dd>
                    </dl>
                </dd>
            </dl>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->