<div id="verema-solidaria" class="modal">

    <div class="sk-modal">

        <h2>Verema Solidària</h2>

        <img class="bottle" src="assets/images/verema-solidaria-bottle.jpg" alt="Verema Solidària 2017" width="400" height="1114"/>

        <img class="bg-card" src="assets/images/verema-solidaria-back.jpg" alt="Verema Solidària 2017" width="600" height="444"/>

        <div class="sk-modal-content">

            <h3>Fitxa tècnica</h3>

            <dl>
                <dt>Nom</dt>
                <dd>Vins de Postal - Verema Solidària 2017</dd>
                <dt>Anyada</dt>
                <dd>2017</dd>
                <dt>Finca</dt>
                <dd>La Coromina</dd>
                <dt>Municipi</dt>
                <dd>Espolla</dd>
                <dt>Superfície</dt>
                <dd>Una mica més de 8 vessanes i mitja (de les quals gairebé 6 són de Carinyena negra i la resta de Carinyena blanca i Lledoner roig)</dd>
                <dt>Altitud</dt>
                <dd>119 metres sobre el nivell del mar</dd>
                <dt>Orientació de la parcel·la</dt>
                <dd>Una feixa orientada a Est amb poc pendent i l'altra feixa a Sud i amb un pendent del 3%</dd>
                <dt>Tipus de sòl</dt>
                <dd>Substrat metamòrfic de pissarres, fil.lites i esquists i de textura franco-llimosa i franca</dd>
                <dt>Varietat</dt>
                <dd>Carinyena negra</dd>
                <dt>Any de plantació</dt>
                <dd>1939</dd>
                <dt>Conducció</dt>
                <dd>En vas</dd>
                <dt>Viticultors</dt>
                <dd>Equip del celler Cooperatiu d'Espolla</dd>
                <dt>Meteorologia</dt>
                <dd>Anyada que va començar amb una tardor seca i un hivern amb poca fred. Marcada bàsicament per una gelada intensa a la segona quinzena d’abril que es va emportar part de la producció i una pedregada de danys considerables a finals de juny. Remarcar que la maduració condicionada per una onada de calor a principis d’agost va fer que s’avancés la verema aproximadament 12 dies d’un any normal però que les lleugeres pluges de principi de setembre van permetre una bona maduració de les pells de les varietats tardanes.</dd>
                <dt>Verema</dt>
                <dd>30 de setembre de 2017</dd>
                <dt>Producció (rendiment)</dt>
                <dd>Aproximadament 2.800 kg/ha</dd>
                <dt>Elaboració</dt>
                <dd>Encubat directe del raïm sencer amb la rapa en barriques velles de roure i trepitjat tradicional dels assistents a la Verema Solidària. Fermentació espontània entre 20 i 22ºC i maceració de 12 dies enfonsant molt suaument el barret a diari. Criança amb mares en dipòsit amb bastonatges setmanals durant 5 mesos i embotellat.</dd>
                <dt>Data d'embotellat</dt>
                <dd>11 d'abril de 2018</dd>
                <dt>Nº ampolles</dt>
                <dd>889 ampolles numerades de 75 cl i 57 Màgnums numerats</dd>
                <dt>Anàlisi físico-químics</dt>
                <dd>
                    <dl>
                        <dt>PH</dt>
                        <dd>3,34</dd>
                        <dt>Acidesa total</dt>
                        <dd>4,2 g sulfúric/L</dd>
                        <dt>Grau alcohólic</dt>
                        <dd>14,40%</dd>
                        <dt>Sucres reductors</dt>
                        <dd>&lt; 1g/L</dd>
                        <dt>Acidesa volàtil</dt>
                        <dd>0,54 g acètic/L</dd>
                    </dl>
                </dd>
                <dt>Temperatura de consum</dt>
                <dd>Entre 12 i 14ºC</dd>
                <dt>Altres dades d'interès</dt>
                <dd>
                    <dl>
                        <dt>Ampolla</dt>
                        <dd>Borgonya 'Ducasse'</dd>
                        <dt>Tap</dt>
                        <dd>Tap natural d'excel.lent qualitat de suro de 12 anys i provinent d'un bosc d'alzina surera del municipi d’Espolla pelat l'estiu del 2016 i fabricat per l'empresa Costa Quer de Cassà de la Selva i que, tal i com s’indica en l’etiqueta, s’emmarca dins del Projecte liderat pel Consell Regulador de la Denominació d’Origen Empordà i l’Institut Català del Suro (ICS) de Taps de finca, consistent en tapar el vi de l’Empordà amb taps de suro provinents d’alzines sureres de l’Empordà.</dd>
                        <dt>Etiqueta</dt>
                        <dd>Fotografia cedida per l’equip de la Verema Solidària i muntatge d'Agnès Figueres - agnesdisseny.com -</dd>
                    </dl>
                </dd>
            </dl>

        </div> <!-- sk-modal-content -->
    </div> <!-- sk-modal -->

</div> <!-- /modal -->