/*! Mixins */
// ==========================================================================


@font-face {
    font-family: 'jenna_sue_proregular';
    src: url('../jenna_sue_pro-webfont.eot');
    src: url('../fonts/jenna_sue_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jenna_sue_pro-webfont.woff2') format('woff2'),
         url('../fonts/jenna_sue_pro-webfont.woff') format('woff'),
         url('../fonts/jenna_sue_pro-webfont.svg#jenna_sue_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.border-radius1 (@radius: 1px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition03 (@who: all, @length: 0.3s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition06 (@who: all, @length: 0.6s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition-ease-in-out03 (@who: all, @length: 0.3s, @function: ease-in-out) {
    -webkit-transition: @who @length @function;
       -moz-transition: @who @length @function;
         -o-transition: @who @length @function;
        -ms-transition: @who @length @function;
            transition: @who @length @function;
}

.transition-ease-in-out05 (@who: all, @length: 0.5s, @function: ease-in-out) {
    -webkit-transition: @who @length @function;
       -moz-transition: @who @length @function;
         -o-transition: @who @length @function;
        -ms-transition: @who @length @function;
            transition: @who @length @function;
}

.transition-delay-01 (@length: 0.1s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-02 (@length: 0.2s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-03 (@length: 0.3s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-05 (@length: 0.5s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-075 (@length: 0.75s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-1 (@length: 1s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-15 (@length: 1.5s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

.transition-delay-2 (@length: 2s) {
    -webkit-transition-delay: @length;
       -moz-transition-delay: @length;
         -o-transition-delay: @length;
            transition-delay: @length;
}

