/*! Pages */
// ==========================================================================

/* Cementiri page */
.hidden-searchcontent { // hiding search content
    display: none;
}

.search-wrapper {
    display: flex;
    margin-bottom: 1rem;
}

input[type='search'].search-by-word {
    width: 480px;
    margin: 0 auto;
    font-family: @font-family-raleway;
    font-weight: 400;
    height: 3rem;
    padding: 0.5rem 1rem;
}


/* Postal single */
.postal-content-left {
    //background-color: aqua;
}

.postal-content-right {
    font-family: @font-family-raleway;
    font-weight: 400;
    color: @font-color;
    background-color: @white;
    padding: 3.6rem 3.6rem;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    
    @media screen and (max-width: 600px) {
        padding: 2.8rem;
    }
    
    @media screen and (max-width: 480px) {
        padding: 2rem;
    }
}

/*.postal-content-right h2 {
    font-size: 2.500em;
}

.postal-content-right h3 {
    font-size: 2em;
}

.postal-content-right h4 {
    font-size: 1.500em;
}*/

.postal-content-right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2.4rem;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
}

.postal-content-right a {
    color: @blackboard;
}

.postal-content-right img.bottle {
    display: block;
}

.postal-content-right p {
    font-size: 1.100em;
}

.postal-content-right dl {
    text-align: left;
    padding-bottom: 1em;
}

.postal-content-right dl dt {
    font-weight: 700;
    margin: 2em 0 0.500em;
}

.postal-content-right dl.onesven dd {
    margin: 1em 0 1em;
}

.postal-content-right dl dd dl {
    font-size: 0.900em;
    margin-left: 1em;
}

.postal-content-right dl dd dl dt {
    margin-top: 1em;
}

/* Reconeixaments */
.recon-list {
	display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 2rem 0;
	margin: 0 0 4rem;
}

.recon-list li {
    display: flex;
    flex-direction: row;
	position: relative;
    border-bottom: 0.2rem solid @autumn;
    padding: 2.4rem;
    font-family: @font-family-raleway;
    color: @font-color;
    background-color: @white;
    margin: 0 0 2rem 0;
    
    .card-image {
        flex: 0 0 200px;
        max-width: 200px;
        margin-right: 2rem;
		
		img {
            width: 200px;
            height: 200px;
			margin: 0;
            box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3);
		}
    }
    
    .card-content {
        
        .card-header {
            h3 {
                line-height: 1;
            }
        }
        
        .card-body {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.7;
            
            p {
                margin-bottom: 1.6rem;
            }
            
            .recon-link {
                font-family: 'Bitter', serif;
                font-weight: 700;
                background-color: @white;
                //border: 0.1rem solid @white;
                //border-radius: 0;
                color: @font-color;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                font-size: 1.1rem;
                letter-spacing: 0.01rem;
                line-height: 1;
                padding: 1rem 0;
                text-decoration: none;
                text-transform: uppercase;
                .transition03;
                
                &::after {
                    content: '';
                    display: block;
                    width: 2rem;
                    height: 1.4rem;
                    margin: auto 0.4rem;

                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 24' viewBox='0 0 32 24'%3E%3Cpath d='m22.8 4.6-.9 1.2 6.6 5.4H.4v1.6h28.1l-6.6 5.4.9 1.2 9-7.4z'/%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 24' viewBox='0 0 32 24'%3E%3Cpath d='m22.8 4.6-.9 1.2 6.6 5.4H.4v1.6h28.1l-6.6 5.4.9 1.2 9-7.4z'/%3E%3C/svg%3E");
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                    -webkit-mask-position: center center;
                    mask-position: center center;
                    background-color: @font-color;

                    transform: translateX(0);
                    transition-property: transform;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-out;
                }
                
                &:hover::after {
                    transform: translateX(0.4rem);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
     
    .recon-list li {
        padding: 1.4rem;

        .card-image {
            flex: 0 0 140px;
            max-width: 140px;
            margin-right: 1.4rem;

            img {
                width: 140px;
                height: 140px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
     
    .recon-list li {
        flex-direction: column;

        .card-image {
            flex: 0 0 200px;
            max-width: 200px;
            margin: 0 auto 2rem;

            img {
                width: 200px;
                height: 200px;
            }
        }
        
        .card-content {
            text-align: center;
        }
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
}
