/*********************************************
  * Filename: style.css
  * Website: http://vinsdepostal.com
  * Author: Sergi Duran
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 13/01/2023
  * Version: 1.0
*********************************************/
/* CONTENT
  ===========================================
    
  BASE STYLES
    Forms and Inputs
    Typography
    Links and Buttons
    Tables
  
  UTILITY CLASSES
    Grid Sistem
    Lists
      Animations

  LAYOUT
    Globla Header
    Navigation
    Fixed Navigation
    Advanced Dropdown Navigation
    Footer

  =========================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! Variables */
/* Font Weight */
/* Letter spacing */
/* Font size */
/*! Mixins */
@font-face {
  font-family: 'jenna_sue_proregular';
  src: url('../jenna_sue_pro-webfont.eot');
  src: url('../fonts/jenna_sue_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/jenna_sue_pro-webfont.woff2') format('woff2'), url('../fonts/jenna_sue_pro-webfont.woff') format('woff'), url('../fonts/jenna_sue_pro-webfont.svg#jenna_sue_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*! Milligram */
/* 
  * Milligram v1.4.1
  * https://milligram.io
  *
  * Copyright (c) 2020 CJ Patoilo
  * Licensed under the MIT license
 */
*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  letter-spacing: 0.01em;
  line-height: 1.6;
}
blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
blockquote *:last-child {
  margin-bottom: 0;
}
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-family: 'Bitter', serif;
  font-weight: 700;
  background-color: #fcfbf7;
  border: 0.1rem solid #fcfbf7;
  border-radius: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  padding: 1rem 2.2rem;
  color: #333;
}
.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: 0.5;
}
/*.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
    background-color:  var(--cta-primary);
    border-color:  var(--cta-primary);
}*/
.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: #333;
  color: #fcfbf7;
}
/*.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
    background-color: transparent;
    border-color: var(--cta-primary-hover);
    color: var(--cta-primary-hover);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color:  var(--cta-primary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color:  var(--cta-primary);
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--cta-primary-hover);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
    color:  var(--cta-primary);
}*/
.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
.button-black {
  background-color: #000;
  border-color: #000;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: #000;
}
code {
  background: #f4f5f6;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}
pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden;
}
pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3rem 0;
}
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid #fcfbf7;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem 0.7rem;
  width: 100%;
}
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-width: 0.2rem;
  outline: 0;
}
select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 3rem;
}
select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}
select[multiple] {
  background: none;
  height: auto;
}
textarea {
  min-height: 6.5rem;
}
label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
fieldset {
  border-width: 0;
  padding: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}
.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 220px;
}
.wrapper .container {
  max-width: 1620px;
}
.wrapper .container.container-narrow {
  max-width: 1360px;
}
.wrapper .container.container-x-narrow {
  max-width: 1120px;
}
.wrapper > .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
.wrapper > .container.padding-short {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.wrapper > .container.padding-x-short {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.container {
  margin: 0 auto;
  max-width: 1620px;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.row.reverse {
  flex-direction: column-reverse;
}
.row.row-no-padding {
  padding: 0;
}
.row.row-no-padding > .column {
  padding: 0;
}
.row.row-wrap {
  flex-wrap: wrap;
}
.row.row-top {
  align-items: flex-start;
}
.row.row-bottom {
  align-items: flex-end;
}
.row.row-center {
  align-items: center;
}
.row.row-stretch {
  align-items: stretch;
}
.row.row-baseline {
  align-items: baseline;
}
.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.row .column.column-7,
.row .column.column-10,
.row .column.column-20,
.row .column.column-25,
.row .column.column-28,
.row .column.column-33,
.row .column.column-34,
.row .column.column-40,
.row .column.column-45,
.row .column.column-50,
.row .column.column-55,
.row .column.column-60,
.row .column.column-66,
.row .column.column-67,
.row .column.column-70,
.row .column.column-75,
.row .column.column-80,
.row .column.column-90 {
  max-width: 100%;
}
.row .column.column-offset-2,
.row .column.column-offset-5,
.row .column.column-offset-6,
.row .column.column-offset-10,
.row .column.column-offset-20,
.row .column.column-offset-25,
.row .column.column-offset-33,
.row .column.column-offset-34,
.row .column.column-offset-40,
.row .column.column-offset-50,
.row .column.column-offset-60,
.row .column.column-offset-66,
.row .column.column-offset-67,
.row .column.column-offset-75,
.row .column.column-offset-80,
.row .column.column-offset-90 {
  margin-left: 0;
}
/* Offset right */
.row .column.column-offset-right-40,
.row .column.column-offset-right-50,
.row .column.column-offset-right-60 {
  margin-right: 0;
}
.row .column .column-top {
  align-self: flex-start;
}
.row .column .column-bottom {
  align-self: flex-end;
}
.row .column .column-center {
  align-self: center;
}
@media (min-width: 769px) {
  .row {
    flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
  .row .column.column-7 {
    flex: 0 0 7%;
    max-width: 7%;
  }
  .row .column.column-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .row .column.column-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row .column.column-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .column.column-28 {
    flex: 0 0 28%;
    max-width: 28%;
  }
  .row .column.column-33,
  .row .column.column-34 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .row .column.column-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .row .column.column-45 {
    flex: 0 0 45%;
    max-width: 45%;
  }
  .row .column.column-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .column.column-55 {
    flex: 0 0 55%;
    max-width: 55%;
  }
  .row .column.column-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .row .column.column-66,
  .row .column.column-67 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .row .column.column-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .row .column.column-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .column.column-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .row .column.column-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .row .column.column-offset-2 {
    margin-left: 2%;
  }
  .row .column.column-offset-5 {
    margin-left: 5%;
  }
  .row .column.column-offset-6 {
    margin-left: 5%;
  }
  .row .column.column-offset-10 {
    margin-left: 10%;
  }
  .row .column.column-offset-20 {
    margin-left: 20%;
  }
  .row .column.column-offset-25 {
    margin-left: 25%;
  }
  .row .column.column-offset-33,
  .row .column.column-offset-34 {
    margin-left: 33.3333%;
  }
  .row .column.column-offset-40 {
    margin-left: 40%;
  }
  .row .column.column-offset-50 {
    margin-left: 50%;
  }
  .row .column.column-offset-60 {
    margin-left: 60%;
  }
  .row .column.column-offset-66,
  .row .column.column-offset-67 {
    margin-left: 66.6666%;
  }
  .row .column.column-offset-75 {
    margin-left: 75%;
  }
  .row .column.column-offset-80 {
    margin-left: 80%;
  }
  .row .column.column-offset-90 {
    margin-left: 90%;
  }
  /* Offset right */
  .row .column.column-offset-right-40 {
    margin-right: 40%;
  }
  .row .column.column-offset-right-50 {
    margin-right: 50%;
  }
  .row .column.column-offset-right-60 {
    margin-right: 60%;
  }
}
a {
  color: var(--cta-primary);
  text-decoration: none;
}
a:focus,
a:hover {
  color: var(--cta-primary-hover);
}
dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3rem;
}
ol {
  list-style: decimal inside;
}
ul {
  list-style: circle inside;
}
.button,
button,
dd,
dt,
li {
  margin-bottom: 1rem;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}
table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}
td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}
b,
strong {
  font-weight: bold;
}
p {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  margin-top: 0;
}
h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.2rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.bg-hightlight {
  background-color: var(--hgl-secondary);
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 16px;
}
p {
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'jenna_sue_proregular';
  color: #FCFBF7;
  /*overflow: auto;*/
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pissarra-3-green.jpg);
  background-repeat: no-repeat;
  background-color: #0b1e22;
  background-position: center center;
  background-size: cover;
  overflow-y: scroll;
}
body.home {
  position: fixed;
}
body.home.loaded {
  position: absolute;
  overflow-y: auto;
}
h2,
h3,
h4 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}
a {
  color: #7f8fa9;
}
a:hover,
a:focus {
  text-decoration: none;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FCFBF7;
  background-image: url(../images/rice-paper-3.png);
  background-repeat: repeat;
  border: 15px solid #333;
  z-index: 999;
  /* makes sure it stays on top */
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.loaded #preloader {
  border: 0;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
header {
  /*position: fixed;*/
  top: 0;
  z-index: 1000;
  /*min-height: 460px;*/
  width: 100%;
  /*height: 100%;*/
  text-align: center;
}
header .logo {
  position: absolute;
  left: 1%;
  top: -2px;
  transition: opacity 0.4s ease-in-out 2.2s;
  -moz-transition: opacity 0.4s ease-in-out 2.2s;
  -webkit-transition: opacity 0.4s ease-in-out 2.2s;
}
.home header .logo {
  opacity: 0;
}
.home.loaded header .logo {
  opacity: 1;
}
header .logo img {
  width: 50px;
  height: 64px;
}
@media only screen and (min-width: 768px) {
  header .logo {
    left: 5%;
  }
  header .logo img {
    width: 74px;
    height: 94px;
  }
}
.home #vins-de-postal {
  position: absolute;
  /*ie6 and above*/
  display: block;
  width: 680px;
  height: 134px;
  left: 50%;
  top: 50%;
  margin: -72px 0 0 -340px;
  z-index: 9999;
}
.home #vdp-inline {
  /*position: fixed;*/
  position: absolute;
  /*ie6 and above*/
  display: block;
  width: 680px;
  height: 134px;
  left: 50%;
  top: 50%;
  margin: -72px 0 0 -340px;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: top center;
  z-index: 9999;
}
#vdp-inline {
  position: absolute;
  /*ie6 and above*/
  display: block;
  width: 442px;
  height: 87px;
  left: 50%;
  top: 3.4rem;
  margin: 0 0 0 -221px;
}
.home.loaded #vdp-inline {
  top: 8rem;
  transform: scale(0.4);
  -moz-transform: scale(0.4);
  -webkit-transform: scale(0.4);
}
@media only screen and (min-width: 320px) {
  .home.loaded #vdp-inline {
    transform: scale(0.45);
    -moz-transform: scale(0.45);
    -webkit-transform: scale(0.45);
  }
}
@media only screen and (min-width: 480px) {
  .home.loaded #vdp-inline {
    transform: scale(0.65);
    -moz-transform: scale(0.65);
    -webkit-transform: scale(0.65);
  }
}
.home .svg-vdp {
  display: none;
}
.svg-vdp {
  display: inline;
}
.home #vdp-inline svg path {
  fill: #333;
}
.home.loaded #vdp-inline svg path,
#vdp-inline svg path {
  fill: #FCFBF7;
}
.home #vdp-inline {
  /*display: none;*/
}
h1.slogan {
  font-weight: normal;
  margin: 0 auto;
  padding: 150px 0 0;
  font-size: 2.35em;
  transition: opacity 0.4s ease-in-out 1.7s;
  -moz-transition: opacity 0.4s ease-in-out 1.7s;
  -webkit-transition: opacity 0.4s ease-in-out 1.7s;
}
.home h1.slogan {
  opacity: 0;
}
.home.loaded h1.slogan {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  h1.slogan {
    font-size: 2.65em;
  }
}
.sk-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 0 260px 0;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  transform: scale(0.8) translateY(50%);
  -moz-transform: scale(0.8) translateY(50%);
  -webkit-transform: scale(0.8) translateY(50%);
}
.loaded .sk-main {
  transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}
.postcards {
  margin: 0 auto;
  padding-top: 0;
  min-height: 400px;
  max-width: 100%;
  width: 100%;
  border-radius: 0;
  background-size: 100%;
}
.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0.6rem 4rem;
  width: 90%;
  max-width: 1600px;
  list-style: none;
  text-align: center;
  /*display: flex;
    flex-direction: row-reverse;*/
}
.container .grid {
  width: 100%;
}
/*@media only screen and (min-width: 1024px) {
    .grid {
        max-width: 1400px;
    }
}*/
/*.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0.5em auto;
}

@media only screen and (min-width: 1024px) {
    .row {
        flex-direction: row;
    }
}*/
figure {
  position: relative;
  display: inline-block;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.grid a {
  display: flex;
  margin: 0.8rem;
}
.grid a:focus {
  outline: 0;
}
.grid a:first-child figure {
  transform: rotate(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:first-child figure {
  transform: rotate(3deg);
}
.grid a:nth-child(2) figure {
  transform: rotate(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(2) figure {
  transform: rotate(1deg) translateX(0) translateY(-15px);
}
.grid a:nth-child(3) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(3) figure {
  transform: rotate(-1deg) translateX(0) translateY(-10px);
}
.grid a:nth-child(4) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(4) figure {
  transform: rotate(-3deg) translateX(0) translateY(10px);
}
.grid a:nth-child(5) figure {
  transform: rotate(0) translateX(0);
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
.loaded .grid a:nth-child(5) figure {
  transform: rotate(1deg) translateX(10px);
}
.grid a:nth-child(6) figure {
  transform: rotate(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.loaded .grid a:nth-child(6) figure {
  transform: rotate(1deg);
}
.grid a:nth-child(7) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(7) figure {
  transform: rotate(-1deg) translateX(0) translateY(10px);
}
.grid a:nth-child(8) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(8) figure {
  transform: rotate(2deg) translateX(0) translateY(10px);
}
.grid a:nth-child(9) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(9) figure {
  transform: rotate(3deg) translateX(-5px) translateY(10px);
}
.grid a:nth-child(10) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(10) figure {
  transform: rotate(1deg) translateX(0) translateY(7px);
}
.grid a:nth-child(11) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(11) figure {
  transform: rotate(-1deg) translateX(0) translateY(-5px);
}
.grid a:nth-child(12) figure {
  transform: rotate(0) translateX(0) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.loaded .grid a:nth-child(12) figure {
  transform: rotate(2deg) translateX(0) translateY(10px);
}
/*.grid .row1 a:first-child figure {
	transform: rotate(0);
    .transition-delay-1;
}

.loaded .grid .row1 a:first-child figure {
	transform: rotate(3deg);
}

.grid .row1 a:nth-child(2) figure {
	transform: rotate(0);
    .transition-delay-1;
}

.loaded .grid .row1 a:nth-child(2) figure {
	transform: rotate(1deg) translateX(0) translateY(-15px);
}

.grid .row2 a:first-child figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row2 a:first-child figure {
	transform: rotate(-1deg) translateX(0) translateY(-10px);
}

.grid .row2 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row2 a:nth-child(2) figure {
	transform: rotate(-3deg) translateX(0) translateY(10px);
}

.grid .row2 a:nth-child(3) figure {
	transform: rotate(0) translateX(0);
    .transition-delay-075;
}

.loaded .grid .row2 a:nth-child(3) figure {
	transform: rotate(1deg) translateX(10px);
}

.grid .row3 a:first-child figure {
	transform: rotate(0);
    .transition-delay-05;
}

.loaded .grid .row3 a:first-child figure {
	transform: rotate(1deg);
}

.grid .row3 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row3 a:nth-child(2) figure {
	transform: rotate(-1deg) translateX(0) translateY(10px);	
}

.grid .row3 a:nth-child(3) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row3 a:nth-child(3) figure {
	transform: rotate(2deg) translateX(0) translateY(10px);	
}

.grid .row4 a:first-child figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:first-child figure {
	transform: rotate(3deg) translateX(-5px) translateY(10px);
}

.grid .row4 a:nth-child(2) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:nth-child(2) figure {
	transform: rotate(1deg) translateX(0) translateY(7px);	
}

.grid .row4 a:nth-child(3) figure {
	transform: rotate(0) translateX(0) translateY(0);
    .transition-delay-1;
}

.loaded .grid .row4 a:nth-child(3) figure {
	transform: rotate(-1deg) translateX(0) translateY(-5px);	
}*/
@media only screen and (min-width: 1024px) {
  /*.loaded .grid .row4 a:first-child figure {
        -webkit-transform: rotate(3deg) translateX(260px) translateY(10px);
        transform: rotate(3deg) translateX(260px) translateY(10px);
    }*/
}
figure img {
  display: block;
  border-radius: 0;
  margin: 0 auto;
  outline: none;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.15);
}
figure .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  font-size: 6rem;
  background: rgba(158, 84, 6, 0.25);
  /*-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
figure .img-overlay:hover,
figure .img-overlay:focus {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
figure .img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}
.concept {
  max-width: 990px;
  margin: 0.5em auto 0;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}
.jenna-sue {
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  .concept,
  .jenna-sue {
    font-size: 2.5rem;
  }
}
/*.button {
    text-align: center;
    margin-bottom: 2rem;
}

.button a {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    padding: 1rem 1.5rem;
    background-color: @white;
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    line-height: 1;
    .transition03;
}

.button a:hover,
.button a:focus {
    padding: 1rem 2rem;
}*/
body.modal {
  /*background-color: #FCFBF7;
    background-image:  url(../images/rice-paper-3.png);
    background-repeat: repeat;
    background-size: auto;*/
}
/*.sk-modal {
    max-width: 700px;
    padding: 10px 50px 30px;
    margin: 0 auto;
    color: #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #fff;
}

.sk-modal h2 {
    font-size: 2.500em;
}

.sk-modal h3 {
    font-size: 2em;
}

.sk-modal h4 {
    font-size: 1.500em;
}

.sk-modal img {
    max-width: 100%;
    height: auto;
    margin: 3em auto;
}

.sk-modal a {
    color: @blackboard;
}

.sk-modal img.bottle {
    //float: right;
    display: block;
}

.sk-modal img.bg-card {
    //float: left;
    display: block;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.75);
}

.sk-modal .sk-modal-content {
    display: inline-block;
    //max-width: 370px; 
    width: 100%;
    text-align: justify;
    margin: 1em 0;
    font-family: @font-family-raleway;
    font-weight: 400;
}

.sk-modal .sk-modal-content p {
    font-size: 1.100em;
}

.sk-modal .sk-modal-content dl {
    text-align: left;
    padding-bottom: 1em;
}

.sk-modal .sk-modal-content dl dt {
    font-weight: 700;
    margin: 2em 0 0.500em;
}

.sk-modal .sk-modal-content dl.onesven dd {
    margin: 1em 0 1em;
}

.sk-modal .sk-modal-content dl dd dl {
    font-size: 0.900em;
    margin-left: 1em;
}

.sk-modal .sk-modal-content dl dd dl dt {
    margin-top: 1em;
}*/
.sk-footer {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(51, 51, 51, 0.5);
  font-weight: 400;
  z-index: 7;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-family: 'Raleway', sans-serif;
}
.sk-footer.footer-up {
  bottom: 0;
}
.sk-footer h3 {
  margin: 0;
  padding: 0;
}
.sk-footer a {
  color: #fcfbf7;
}
.sk-footer a:hover,
.sk-footer a:focus {
  color: rgba(252, 251, 247, 0.5);
}
.sk-footer .grid-margin-footer {
  margin-top: 2%;
  margin-bottom: 2%;
}
.sk-footer .grid-margin-footer p {
  padding: 0;
  margin: 0;
}
.sk-footer .logos {
  margin: 1em 0 0.5em;
}
.sk-footer .logos li {
  display: inline;
  margin: 0 0.5em;
}
.sk-footer .logos li a {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
.sk-footer .logos li:first-child a {
  background-image: url(../images/do-emporda-logo.png);
}
.sk-footer .logos li:nth-child(2) a {
  background-image: url(../images/ruta-del-vi-logo.png);
}
.sk-footer .logos li:nth-child(3) a {
  background-image: url(../images/wine-in-moderation-logo.png);
}
.sk-footer .logos li:nth-child(4) a {
  background-image: url("../images/nextgeneration-eu-logo.png");
}
.sk-footer .logos li:nth-child(5) a {
  background-image: url("../images/logo-prtr.png");
}
.sk-footer .logos li span {
  display: none;
}
.sk-footer .footer-info {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}
.sk-footer .footer-info li {
  display: inline-block;
  margin: 0.4em 0.3em;
}
.sk-footer .footer-info li a {
  padding: 0.4em 1em;
  color: rgba(252, 251, 247, 0.5);
}
@media only screen and (min-width: 640px) {
  .sk-footer {
    bottom: -50%;
  }
}
.notfound {
  text-align: center;
}
.notfound svg {
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}
.notfound h1 {
  font-weight: normal;
  margin: 0 auto;
  padding: 20px 0 0;
  font-size: 4em;
}
.notfound p,
.notfound a {
  font-size: 2em;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .notfound h1 {
    padding-top: 10px;
    font-size: 5em;
  }
  .notfound p,
  .notfound a {
    font-size: 3em;
    color: white;
  }
}
/*! Pages */
/* Cementiri page */
.hidden-searchcontent {
  display: none;
}
.search-wrapper {
  display: flex;
  margin-bottom: 1rem;
}
input[type='search'].search-by-word {
  width: 480px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 3rem;
  padding: 0.5rem 1rem;
}
/* Postal single */
.postal-content-right {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fcfbf7;
  padding: 3.6rem 3.6rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 600px) {
  .postal-content-right {
    padding: 2.8rem;
  }
}
@media screen and (max-width: 480px) {
  .postal-content-right {
    padding: 2rem;
  }
}
/*.postal-content-right h2 {
    font-size: 2.500em;
}

.postal-content-right h3 {
    font-size: 2em;
}

.postal-content-right h4 {
    font-size: 1.500em;
}*/
.postal-content-right img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 2.4rem;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}
.postal-content-right a {
  color: #0b1e22;
}
.postal-content-right img.bottle {
  display: block;
}
.postal-content-right p {
  font-size: 1.1em;
}
.postal-content-right dl {
  text-align: left;
  padding-bottom: 1em;
}
.postal-content-right dl dt {
  font-weight: 700;
  margin: 2em 0 0.5em;
}
.postal-content-right dl.onesven dd {
  margin: 1em 0 1em;
}
.postal-content-right dl dd dl {
  font-size: 0.9em;
  margin-left: 1em;
}
.postal-content-right dl dd dl dt {
  margin-top: 1em;
}
/* Reconeixaments */
.recon-list {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 2rem 0;
  margin: 0 0 4rem;
}
.recon-list li {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 0.2rem solid #9e5406;
  padding: 2.4rem;
  font-family: 'Raleway', sans-serif;
  color: #333;
  background-color: #fcfbf7;
  margin: 0 0 2rem 0;
}
.recon-list li .card-image {
  flex: 0 0 200px;
  max-width: 200px;
  margin-right: 2rem;
}
.recon-list li .card-image img {
  width: 200px;
  height: 200px;
  margin: 0;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
}
.recon-list li .card-content .card-header h3 {
  line-height: 1;
}
.recon-list li .card-content .card-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}
.recon-list li .card-content .card-body p {
  margin-bottom: 1.6rem;
}
.recon-list li .card-content .card-body .recon-link {
  font-family: 'Bitter', serif;
  font-weight: 700;
  background-color: #fcfbf7;
  color: #333;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  line-height: 1;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.recon-list li .card-content .card-body .recon-link::after {
  content: '';
  display: block;
  width: 2rem;
  height: 1.4rem;
  margin: auto 0.4rem;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 24' viewBox='0 0 32 24'%3E%3Cpath d='m22.8 4.6-.9 1.2 6.6 5.4H.4v1.6h28.1l-6.6 5.4.9 1.2 9-7.4z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 24' viewBox='0 0 32 24'%3E%3Cpath d='m22.8 4.6-.9 1.2 6.6 5.4H.4v1.6h28.1l-6.6 5.4.9 1.2 9-7.4z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center center;
  mask-position: center center;
  background-color: #333;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.recon-list li .card-content .card-body .recon-link:hover::after {
  transform: translateX(0.4rem);
}
@media screen and (max-width: 600px) {
  .recon-list li {
    padding: 1.4rem;
  }
  .recon-list li .card-image {
    flex: 0 0 140px;
    max-width: 140px;
    margin-right: 1.4rem;
  }
  .recon-list li .card-image img {
    width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 480px) {
  .recon-list li {
    flex-direction: column;
  }
  .recon-list li .card-image {
    flex: 0 0 200px;
    max-width: 200px;
    margin: 0 auto 2rem;
  }
  .recon-list li .card-image img {
    width: 200px;
    height: 200px;
  }
  .recon-list li .card-content {
    text-align: center;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
}
/*! Plugins */
/* ------ venobox.css --------*/
/*.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after{
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.vbox-overlay * { 
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.vbox-overlay{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    -webkit-transform:translateZ(1000px);
    transform: translateZ(1000px);
    transform-style: preserve-3d;
    
    background-image: url(../images/pissarra-3-green.jpg);
    background-repeat: no-repeat;
    background-color: @blackboard;
    background-position: center center;
    background-size: auto;
}

// ----- navigation ----- 
.vbox-title{
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 40px;
    overflow: hidden;
    position: fixed;
    display: none;
    left: 0;
    z-index: 10000;
}
.vbox-close{
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 0;
    width: 50px;
    height: 40px;
    padding: 6px;
    display: block;
    background-position:10px center;
    overflow: hidden;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    z-index: 10000;
}
.vbox-num{
    cursor: pointer;
    position: fixed;
    left: 0;
    height: 40px;
    display: block;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 10px;
    display: none;
    z-index: 10000;
}
// ----- navigation ARROWS ----- 
.vbox-next, .vbox-prev{
    position: fixed;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
    z-index: 10000;
}
.vbox-next span, .vbox-prev span{
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top-color: #B6B6B6;
    border-right-color: #B6B6B6;
    text-indent: -100px;
    position: absolute;
    top: 8px;
    display: block;
}
.vbox-prev{
    left: 15px;
}
.vbox-next{
    right: 15px;
}
.vbox-prev span{
    left: 10px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.vbox-next span{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 10px;
}
// ------- inline window ------ 
.vbox-inline{
    width: 420px;
    height: 315px;
    height: 70vh;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
}
// ------- Video & iFrames window ------ 
.venoframe{
    max-width: 100%;
    width: 100%;
    border: none;
    width: 100%;
    height: 260px;
    height: 70vh;
}
.venoframe.vbvid{
    height: 260px;
}
@media (min-width: 768px) {
    .venoframe, .vbox-inline{
        width: 90%;
        height: 360px;
        height: 70vh;
    }
    .venoframe.vbvid{
        width: 640px;
        height: 360px;
    }
}
@media (min-width: 992px) {
    .venoframe, .vbox-inline{
        max-width: 1200px;
        width: 80%;
        height: 540px;
        height: 70vh;
    }
    .venoframe.vbvid{
        width: 960px;
        height: 540px;
    }
}
// Please do NOT edit this part! 
//or at least read this note: http://i.imgur.com/7C0ws9e.gif
.vbox-open{
    overflow: hidden;
}
.vbox-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
    max-height: 100%;

}

.vbox-content{
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
}
.vbox-container img{
    max-width: 100%;
    height: auto;
}
.vbox-figlio{
    box-shadow: 0 0 12px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 100%;
    text-align: initial;
}
img.vbox-figlio{
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
.vbox-content.swipe-left{
    margin-left: -200px !important;
}
.vbox-content.swipe-right{
    margin-left: 200px !important;
}
.vbox-animated{
    webkit-transition: margin 300ms ease-out;
    transition: margin 300ms ease-out;
}*/
/* ---------- preloader ----------
 * SPINKIT 
 * http://tobiasahlin.com/spinkit/
-------------------------------- */
.sk-double-bounce,
.sk-rotating-plane {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-rotating-plane {
  background-color: #333;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.sk-double-bounce {
  position: relative;
}
.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-child,
.sk-spinner-pulse,
.sk-three-bounce .sk-child {
  background-color: #333;
  border-radius: 100%;
}
.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.sk-wandering-cubes {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-wandering-cubes .sk-cube {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
  animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
}
.sk-chasing-dots,
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-wandering-cubes .sk-cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.sk-spinner-pulse {
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}
@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.sk-chasing-dots {
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear;
}
.sk-chasing-dots .sk-child {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-circle .sk-child:before,
.sk-fading-circle .sk-circle:before {
  display: block;
  border-radius: 100%;
  content: '';
  background-color: #333;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  margin: 0 auto;
  width: 15%;
  height: 15%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
.sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.sk-fading-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  margin: 0 auto;
  width: 15%;
  height: 15%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.sk-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
  clear: both;
}
.eupopup-container {
  background-color: rgba(34, 34, 33, 0.9);
  color: #dedede;
  padding: 5px 30px;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  display: none;
  z-index: 998;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.eupopup-container-top,
.eupopup-container-fixedtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.eupopup-container-fixedtop {
  position: fixed;
}
.eupopup-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.eupopup-container-bottomleft {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
}
.eupopup-container-bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.eupopup-closebutton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 7px;
}
.eupopup-closebutton svg {
  width: 22px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
  color: #fff;
  text-decoration: none;
}
.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
  fill: #dedede;
}
.eupopup-head {
  font-weight: 700;
  padding: 7px;
  color: #fff;
}
.eupopup-body {
  color: #dedede;
  font-weight: 400;
}
.eupopup-buttons {
  padding: 14px 0 5px 0;
}
.eupopup-button_1 {
  color: #353434;
  background-color: #fcfbf7;
}
.eupopup-button_2 {
  color: #fcfbf7;
  background-color: transparent;
}
.eupopup-button {
  margin: 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 10px;
  text-decoration: none;
}
.eupopup-button_1:hover,
.eupopup-button_1:focus {
  text-decoration: none;
  color: rgba(53, 52, 52, 0.75);
}
body .eupopup-color-inverse {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}
body .eupopup-color-inverse .eupopup-head {
  color: #000;
}
body .eupopup-style-compact {
  text-align: left;
  padding: 8px 30px 7px 20px;
  line-height: 15px;
}
body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
  display: inline;
  padding: 0;
  margin: 0;
}
body .eupopup-style-compact .eupopup-button {
  margin: 0 5px;
}
.eupopup-container-hide {
  display: none !important;
}
