// Cards
.row .card-column {
    padding: 1.4rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 0;
    box-shadow: 0 0 1px var(--font-color);
    height: 100%;
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .card-header,
    .card-body,
    .card-footer {
        padding: 1rem;
        padding-bottom: 0;

        &:last-child {
            padding-bottom: 1rem;
        }
    }

    .card-image {
        padding-top: 1rem;

        &:first-child {
            padding-top: 0;

            img {
                /*border-top-left-radius: @border-radius;
                border-top-right-radius: @border-radius;*/
            }
        }

        &:last-child {
            img {
                /*border-bottom-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;*/
            }
        }
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
}

