/*! Variables */
// ==========================================================================

/*  Colors */
:root {
    --bg-color: #FFFFFF;
    --font-color: #222222;
    --primary-color: blue;
    --secondary-color: green;
    
    --cta-primary: red;
    --cta-secondary: yellow;
    --cta-primary-hover: darkred;
    --cta-secondary-hover: lightyellow;
    
    --hgl-primary: aqua;
    --hgl-secondary: azure;
}


/* Utilities */
@icon-size: 3rem;
@icon-size-sm: 1.5rem;
@icon-size-lg: 6rem;

.svg-icon {
    height: @icon-size;
    width: @icon-size;
    min-height: @icon-size;
    min-width: @icon-size;
    vertical-align: middle;
}

.svg-icon-sm {
    height: @icon-size-sm;
    width: @icon-size-sm;
    min-height: @icon-size-sm;
    min-width: @icon-size-sm;
    vertical-align: middle;
}

.svg-icon-lg {
    height: @icon-size-lg;
    width: @icon-size-lg;
    min-height: @icon-size-lg;
    min-width: @icon-size-lg;
    vertical-align: middle;
}
